#!/bin/sh

while true ; do
    setbg "$WALLDIR"
    sleep 600
done &
while true ; do
    updatestatus
    sleep 1
done &
sxhkd > $LOGDIR/sxhkd_log 2>&1 &                    # Bind keys
xset r rate 250 50 &                                # Speed xrate up
unclutter > $LOGDIR/unclutter_log 2>&1 &            # Remove mouse when idle
xcompmgr > $LOGDIR/xcompmgr_log 2>&1 &              # xcompmgr for transparency
